<%include ../header.ejs%>
<%include ../menu.ejs%>
<link rel="stylesheet" href="/css/profile-user.css">

<div id="main-content" >
    <div class="container"  id="profile-user">
        <%-include menu.ejs%>
        <div class="col-sm-9 col-md-9 list-order-review" style="background: #ffffff; height: 100%">
            <div class="title">
                <h4>Hồ Sơ Của Tôi</h4>
                <h5> Quản lý đơn hàng</h5>
                <hr>
            </div>
            <div>
                <table class="table">
                    <thead>
                    <tr>
                        <th>Người nhận</th>
                        <th>Ngày tạo</th>
                        <th>Trạng thái hiện tại</th>
                        <th>Tổng tiền</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                        <%for(var i = 0;i <order.length; i++){%>
                        <tr>
                            <td >
                               <%=order[i].name%>
                            </td>
                            <td> <%=(order[i].createAt).toLocaleString()%></td>
                            <%if(order[i].active == 1){%>
                            <td>Đã xác nhận</td>
                            <%}else {%>
                            <td>Chờ xác nhận</td>
                            <%}%>
                            <td><%=parseFloat(order[i].amount).toLocaleString()%> đ</td>
                            <td><a href="/user/profile/order/<%=order[i].id%>">Xem tiếp</a></td>
                        </tr>
                        <%}%>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>

<script>
    $('.list-group a').removeClass( "active" )
    $('.panel-collapse').removeClass( "in" )
    $('.listOrder').addClass( "active" );
    $('.order').addClass("in");
</script>

<%include ../footer.ejs%>